<ul class="pe-list pe-list--unstyled icon-list flex row wrap" aria-hidden="true">
    <li><span class="pe-icon--check"></span> check</li>
    <li><span class="pe-icon--chevron-down"></span> chevron-down</li>
    <li><span class="pe-icon--chevron-up"></span> chevron-up</li>
    <li><span class="pe-icon--chevron-left"></span> chevron-left</li>
    <li><span class="pe-icon--chevron-right"></span> chevron-right</li>
    <li><span class="pe-icon--cog"></span> cog</li>
    <li><span class="pe-icon--envelope"></span> envelope</li>
    <li><span class="pe-icon--plus-circle"></span> plus-circle</li>
    <li><span class="pe-icon--search"></span> search</li>
    <li><span class="pe-icon--thumb-tack"></span> thumb-tack</li>
    <li><span class="pe-icon--times"></span> times</li>
    <li><span class="pe-icon--times-circle-o"></span> times-circle-o</li>
    <li><span class="pe-icon--trash-o"></span> trash-o</li>
    <li><span class="pe-icon--users"></span> users</li>
    <li><span class="pe-icon--user"></span> user</li>
    <li><span class="pe-icon--info-circle"></span> info-circle</li>
    <li><span class="pe-icon--file-o"></span> file-o</li>
    <li><span class="pe-icon--calendar"></span> calendar</li>
    <li><span class="pe-icon--square-o"></span> square-o</li>
    <li><span class="pe-icon--check-square-o"></span> check square-o</li>
    <li><span class="pe-icon--ban"></span> ban</li>
    <li><span class="pe-icon--camera"></span> camera</li>
    <li><span class="pe-icon--clock-o"></span> clock-o</li>
    <li><span class="pe-icon--exclamation-circle"></span> exclamation-circle</li>
    <li><span class="pe-icon--bell"></span> bell</li>
    <li><span class="pe-icon--archive"></span> archive</li>
    <li><span class="pe-icon--question-circle"></span> question-circle</li>
    <li><span class="pe-icon--heart"></span> heart</li>
    <li><span class="pe-icon--heart-o"></span> heart-o</li>
    <li><span class="pe-icon--laptop"></span> laptop</li>
    <li><span class="pe-icon--book"></span> book</li>
    <li><span class="pe-icon--list-ul"></span> list-ul</li>
    <li><span class="pe-icon--th-large"></span> th-large</li>
    <li><span class="pe-icon--newspaper-o"></span> newspaper-o</li>
    <li><span class="pe-icon--suitcase"></span> suitcase</li>
    <li><span class="pe-icon--video-camera"></span> video-camera</li>
    <li><span class="pe-icon--picture-o"></span> picture-o</li>
    <li><span class="pe-icon--caret-right"></span> caret-right</li>
    <li><span class="pe-icon--caret-down"></span> caret-down</li>
    <li><span class="pe-icon--lightbulb-o"></span> lightbulb-o</li>
    <li><span class="pe-icon--shopping-cart"></span> shopping-cart</li>
</ul>