<!DOCTYPE html>
<html class="">

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/style.css" media="all" />

</head>

<body>
    <div class="overlay">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Submit Quiz</h2>
                    <button class="pe-btn">
                        <span class="pe-icon--times" aria-hidden="true"></span>
                        <span class="pe-sr-only">close</span>
                    </button>
                </div>
                <div class="margin border-bottom">
                    <p>Are you sure you're ready to submit? You won't be able to change your answers.</p>
                </div>
                <div class="btn-container">
                    <button class="pe-btn pe-btn--medium">Review</button>
                    <button class="pe-btn pe-btn--primary pe-btn--medium">Submit Quiz</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
