<!DOCTYPE html>
<html class="">

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/style.css" media="all" />

</head>

<body>
    <div class="information">
        <div class="row top">
            <div class="col title">
                <span><span class="bold">Title:</span> Learning The Keys To Physical Delivery Skills</span>
            </div>
            <div class="col point">
                <span class="bold">15 Points</span>
            </div>
            <div class="col due-date">
                <span><span class="bold">Due: </span>Oct 18, 2016 - Oct 30, 2016</span>
            </div>
        </div>
        <div class="row center">
            <div class="summary">
                <span><span class="bold">Learning Objective:</span> To develop knowledge and skills related to the student's understanding of rehearsal techniques, and his/her abilities in the ensemble performance as well as the knowledge of music literature
                and conducting skills.</span>
            </div>
        </div>
        <div class="row">
            <div class="summary">
                <span><span class="bold">Description: </span>As you watch the video, quiz questions will appear. You must answer all the questions to submit the quiz.</span>
            </div>
        </div>
    </div>
</body>

</html>
