<div class="grading-criteria">
    <h3 class="pe-title">{{title}}</h3>
    <p class="pe-copy--small pe-paragraph--last">{{> molecules-text }}</p>
    {{>molecules-points-scale}}
    {{>molecules-points-description}}
</div>