<div class="grading-headline">
    <div class="pe-label pe-label--bold">Rubric</div>
    <div class="pe-checkbox pe-checkbox--small">
        <input type="checkbox" name="Small checkbox" id="chk5" value="">
        <label for="chk5">Show Description</label>
    </div>
</div>