<div class="comment-box">
    <div class="pe-inlineblock">
        <div class="pe-textarea pe-textarea--small full-width">
            <label class="bold" for="ta3">Comment</label>
            <textarea class="full-width" name="smalltext" id="ta3" placeholder="Add Comment"></textarea>
        </div>
    </div>
    <div class="btn-container text-align-right">
        {{>atoms-btn-primary(btn-primary-text: "save")}}
    </div>
</div>