<div class="pe-input {{styleModifier}}">
    <label for="{{id}}">{{labelValue}} <span class="pe-error-text">{{labelError}}</span></label>
    <input type="text" id="{{id}}" value="{{inputValue}}" placeholder="{{placeholder}}" {{readonly}} {{disabled}}>
    <p id="i9-error" class="pe-error-text">{{inputError}}</p>
</div>