<li class="list-question border-bottom ">
    <a href="#" class="flex align-center justify-between padding">
        <div class="list-label">
            <span class="pe-icon--caret-right" aria-hidden="true"></span> {{question}} <span class="alt-color">{{time}}</span>
        </div>
        <div class="answer">
            <span class="pe-icon--check green" aria-hidden="true"></span>
        </div>
    </a>
</li>