<div class="point-description margin-top">
    <div class="pe-label pe-label--bold">Bold label</div>
    <p class="pe-paragraph--last">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
</div>

