<li class="list-question">
    <a href="#">
        <div class="list-label">
            <span class="pe-icon--caret-down" aria-hidden="true"></span> Question 3 <span class="alt-color">[0:12]</span>
        </div>
        <div class="answer">
            <span class="pe-icon--close red" aria-hidden="true"></span>
        </div>
    </a>
    <div class="details">
        <span class="detail-label">How does standing with your feet shoulder width apart help you have a better delivery?</span>
        <div class="radio-group">
            <div class="pe-radio">
                <span class="pe-icon--check green" aria-hidden="true"></span>
                <label class="green" for="rad1">Take a course about self esteem</label>
            </div>

            <div class="pe-radio">
                <input type="radio" name="group1" id="rad2" value="" checked>
                <label class="red" for="rad2">Learn meditation skills</label>
            </div>

            <div class="pe-radio">
                <input type="radio" name="group1" id="rad2" value="" disabled>
                <label for="rad3">Learn specific skills on what to do with your body</label>
            </div>

            <div class="pe-radio">
                <input type="radio" name="group1" id="rad2" value="" disabled>
                <label for="rad4">Take a course about ignoring the audience</label>
            </div>
        </div>
    </div>
</li>