<div class="quiz-score flex align-center justify-between">
    <div class="score">
        {{> molecules-quiz-score}}
    </div>
    <div class="overview">
        <span class="padding">5 Questions / 3 Correct / 2 Incorrect / Score - 75%</span>
    </div>
</div>