<table>
    <thead>
    <tr>
        <th>Header One <span class="fa fa-sort" aria-hidden="true"></span></th>
        <th class="sorted">Header Two <span class="fa fa-caret-down" aria-hidden="true"></span></th>
        <th>Header Three <span class="fa fa-sort" aria-hidden="true"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>One</td>
        <td class="sorted">Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td class="sorted">Two</td>
        <td>Three</td>
    </tr>
    </tbody>
</table>