{{> elements-textarea:pe-textarea--error(id: 'ta3', textareaRows: '4', textareaCols: '50', textareaName: 'errortext', textareaValue: 'Bad text here', errorId: 'taerror', inputError: 'Something Went Wrong')}}