button {
  line-height:0 !important;
}
.selected {
  @include button-style($light-blue, $blue);
  
  &:hover {
    @include button-style($light-blue, $blue);
  }
}

.min-btn-width {
  min-width:228px;
}

.icon-only {
  background:none;
  border:0;
  
  &:hover {
	background:none;
	border:0;
  }
}