<div class="point-scale">
    {{> molecules-points-available(number: "0") }}
    {{> molecules-points-disabled(number: "1") }}
    {{> molecules-points-disabled(number: "2") }}
    {{> molecules-points-disabled(number: "3") }}
    {{> molecules-points-disabled(number: "4") }}
    {{> molecules-points-disabled(number: "5") }}
    {{> atoms-circles(number: "0") }}
</div>