{{>elements-button(buttonText: 'Default', disabled:'disabled')}}
{{>elements-button:pe-btn--primary(buttonText: 'Primary', disabled:'disabled')}}
{{>elements-button:pe-btn--link(buttonText: 'Link', disabled:'disabled')}}
{{>elements-button-div:pe-btn--disabled(buttonText: 'Not a button', ariaDisabled:'true')}}