<section class="grading-component fixed">
    {{>molecules-grading-headline}}
    {{>molecules-grading-criteria(title: "Organization", organization: true)}}
    {{>molecules-grading-criteria(title: "Language", language: true)}}
    {{>molecules-grading-criteria(title: "Delivery", delivery: true) }}
    {{>molecules-grading-criteria(title: "Supporting Materials",  support: true )}}
    {{> molecules-score}}
    {{> molecules-score}}
</section>