<section class="select-component">
        {{>atoms-btn-icon-only:gray|close-btn}}
        {{>molecules-select-title-info:dark-gray}}
        {{>molecules-create-new-btn}}
        {{>molecules-select-text-decortion:dark-gray}}
        {{>molecules-combobox}}
        {{>molecules-add-btn(btn-state: "disabled")}}
</section>
