<button {{btn-state}} class="pe-btn pe-btn--primary pe-btn--medium {{styleModifier}}">
    <span class="fa fa-plus" aria-hidden="true"></span>
    <span class="in-btn-left">{{btn-icon-text}}</span>
    <span class="pe-sr-only">{{btn-icon-text}}</span>
</button>