<button {{btn-state}} class="pe-btn pe-btn--medium {{styleModifier}}" onClick="myfunc('.dropdown')">
    <span class="in-btn-right">Question 1 of 5 </span>
    <span class="pe-icon--caret-down" aria-hidden="true"></span>
    <span class="pe-sr-only">{{btn-icon-text}}</span>
</button>