<table>
    <thead>
    <tr>
        <th>Selector</th>
        <th>Min-Width</th>
        <th>Max-Width</th>
        <th>Visible</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>.pe-xs--visible</code></td>
        <td>0</td>
        <td>479px</td>
        <td><span class="pe-xs--visible">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-sm--visible</code></td>
        <td>480px</td>
        <td>767px</td>
        <td><span class="pe-sm--visible">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-md--visible</code></td>
        <td>768px</td>
        <td>1023px</td>
        <td><span class="pe-md--visible">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-lg--visible</code></td>
        <td>1024px</td>
        <td>1279px</td>
        <td><span class="pe-lg--visible">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-xl--visible</code></td>
        <td>1280px</td>
        <td></td>
        <td><span class="pe-xl--visible">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-xs--hidden</code></td>
        <td>0</td>
        <td>479px</td>
        <td><span class="pe-xs--hidden">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-sm--hidden</code></td>
        <td>480px</td>
        <td>767px</td>
        <td><span class="pe-sm--hidden">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-md--hidden</code></td>
        <td>768px</td>
        <td>1023px</td>
        <td><span class="pe-md--hidden">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-lg--hidden</code></td>
        <td>1024px</td>
        <td>1279px</td>
        <td><span class="pe-lg--hidden">✓</span></td>
    </tr>
    <tr>
        <td><code>.pe-xl--hidden</code></td>
        <td>1280px</td>
        <td></td>
        <td><span class="pe-xl--hidden">✓</span></td>
    </tr>
    </tbody>
</table>