<table>
    <thead>
    <tr>
        <th>Utility Description</th>
        <th>Selector</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Making content visible to screen readers</td>
        <td><code>.pe-sr-only</code></td>
    </tr>
    </tbody>
</table>