<div class="swatch flex wrap row">
    <div class="blue-bg">
        <p class="white">$blue</p>
        <p class="black">$blue</p>
    </div>
    <div class="light-blue-bg">
        <p class="white">$light-blue</p>
        <p class="black">$light-blue</p>
    </div>
    <div class="dark-gray-bg">
        <p class="white">$dark-gray</p>
        <p class="black">$dark-gray</p>
    </div>
    <div class="gray-bg">
        <p class="white">$gray</p>
        <p class="black">$gray</p>
    </div>
    <div class="light-gray-bg">
        <p class="white">$light-gray</p>
        <p class="black">$light-gray</p>
    </div>
    <div class="red-bg">
        <p class="white">$red</p>
        <p class="black">$red</p>
    </div>
    <div class="dark-green-bg">
        <p class="white">$dark-green</p>
        <p class="black">$dark-green</p>
    </div>
    <div class="green-bg">
        <p class="white">$green</p>
        <p class="black">$green</p>
    </div>
    <div class="light-green-bg">
        <p class="white">$light-green</p>
        <p class="black">$light-green</p>
    </div>
    <div class="disabled-bg">
        <p class="white">$disabled</p>
        <p class="black">$disabled</p>
    </div>
    <div class="dark-blue-bg">
        <p class="white">$dark-blue</p>
        <p class="black">$dark-blue</p>
    </div>
    <div class="alt-color-bg">
        <p class="white">$alt-color</p>
        <p class="black">$alt-color</p>
    </div>
</div>