<div class="video-question">
    <div class="full-width full-height overflow-hidden">
        <div class="title">
            <span>What is the best way to feel more physically comfortable when delivering a speech?</span>
        </div>
        <div class="time-stamp">
            <span>Question 1 [0:12]</span>
            {{> molecules-questions-radio }}
        </div>
    </div>
    {{#resume-btn}}
    <div class="btn-container ">
        <button class="pe-btn pe-btn--primary pe-btn--medium ">Resume</button>
    </div>
    {{/resume-btn}}
    {{#submit-btn}}
        <div class="btn-container">
            <button class="pe-btn pe-btn--primary pe-btn--medium">Submit Quiz</button>
        </div>
    {{/submit-btn}}
</div>