<div class="overlay">
    <div class="modal flex align-center justify-center pos-relative">
        <div class="modal-content white-bg">
            <div class="modal-title disabled-bg padding flex align-center justify-between border-bottom">
                <h2>Submit Quiz</h2>
                <button class="pe-btn">
                    <span class="pe-icon--times" aria-hidden="true"></span>
                    <span class="pe-sr-only">close</span>
                </button>
            </div>
            <div class="padding border-bottom">
                <p>Are you sure you're ready to submit? You won't be able to change your answers.</p>
            </div>
            <div class="padding text-align-right margin-bottom">
                <button class="pe-btn pe-btn--medium">Review</button>
                <button class="pe-btn pe-btn--primary pe-btn--medium">Submit Quiz</button>
            </div>
        </div>
    </div>
</div>