<div class="answer-list">
    <div class="">
        {{> molecules-question-list-item(question: "Question 1", time: "[0:12]") }}
        {{> molecules-question-list-item(question: "Question 2", time: "[1:12]") }}
        {{#arrow-up}}
            {{> molecules-question-list-item(question: "Question 3", time: "[2:12]") }}
        {{/arrow-up}}
        {{#arrow-down}}
            {{> organisms-question-list-answer }}
         {{/arrow-down}}
        {{> molecules-question-list-item(question: "Question 4", time: "[3:42]") }}
        {{> molecules-question-list-item(question: "Question 5", time: "[3:40]") }}
    </div>
    <div class="padding-top text-align-right">
        <button class="pe-btn pe-btn--primary pe-btn--medium">Back to Assignments</button>
    </div>
</div>