.information {
  .row {
	@media(max-width:640px) {
	  border:0;
	  border-bottom:1px solid;
	}
	&.top {
		@include flex;
		border-bottom:1px solid $border;
	  @media(max-width:640px) {
		border:0;
	  }
	  
	  @media (max-width:640px) {
		flex-direction: column;
	  }
	}
	&.center {
	  border-bottom:1px solid $border;
	  @media(max-width:640px) {
		border:0;
	  }
	}

  }
  .col {
	text-align: center;
	padding:1em;
	display: flex;
	
	@media (max-width:640px) {
	  width:100%;
	  text-align: left;
	  border:0;
	}

	&.title {
	  border-right:1px solid $border;
	  @media (max-width:640px) {
		border: 0;
	  }
	}
	&.point {
	  flex:1;
	  justify-content: center;
	  
	  @media(max-width:640px) {
		justify-content: flex-start;
	  }

	}
	&.due-date {
	  border-left:1px solid $border;
	  flex:2;
	  text-align: right;
	  @media (max-width:640px) {
		border: 0;
	  }
	}
	
  }
  span {
	font-size: .875rem;
	line-height: auto;
  }
  .summary {
	padding:1em;
	display:flex;
  }

}