.overlay {
  position: absolute;
  padding: 2em;
  width:100%;
  height:100%;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color:rgba(0,0,0,0.4);
  z-index: 2;
  
  .modal {
    @include flex($flex-direction:column);
    position:relative;
    
    .btn-container {
      padding:1em;
      text-align: right;
      margin-bottom: 1em;
    }
  }
}

.modal-content {
  margin-top:15%;
  width:50%;
  box-shadow: -1px 2px 15px -4px rgba(0,0,0,0.42);
  z-index:3;
  position:absolute;
  background:$white;
  
  @media(max-width:1280px) {
    margin-top:25%;
    width:75%;
  }
  @media(max-width:768px) {
    margin-top:45%;
  }
  @media(max-width:640px) {
    margin-top:55%;
  }
}

.modal-title {
  @include flex;
  background-color: $beta-one;
  padding:1em;
  border-bottom:1px solid $border;
  button {
    background:none;
    border:none;
    font-size: 1.5em;
  }
  
}