<div class="add-rubric">
    <button {{{id}}} class="add-rubric pe-btn pe-btn--medium" {{btn-state}}>
        <span>Add Selected</span>
        <span class="pe-sr-only">Add Selected</span>
    </button>
</div>