<div class="create-rubric">
    <button {{{id}}} class="pe-btn pe-btn--primary pe-btn--medium" {{btn-state}}>
        <span class="fa fa-plus" aria-hidden="true"></span>
        <span class="in-btn-left">Create New</span>
        <span class="pe-sr-only">Create New</span>
    </button>
</div>