<div class="information">
    <div class="row flex align-center justify-between border-bottom">
        <div class="col title border-right flex-2 padding flex">
            <span><span class="bold">Title:</span> Learning The Keys To Physical Delivery Skills</span>
        </div>
        <div class="col points flex-1 text-align-center padding">
            <span class="bold">15 Points</span>
        </div>
        <div class="col due-date border-left flex-2 text-align-right padding flex">
            <span><span class="bold">Due: </span>Oct 18, 2016 - Oct 30, 2016</span>
        </div>
    </div>
    <div class="row border-bottom">
        <div class="objective padding flex">
            <span><span class="bold">Learning Objective:</span> To develop knowledge and skills related to the student's understanding of rehearsal techniques, and his/her abilities in the ensemble performance as well as the knowledge of music literature and conducting skills.</span>
        </div>
    </div>
    <div class="row ">
        <div class="description padding flex">
            <span><span class="bold">Description: </span>As you watch the video, quiz questions will appear.  You must answer all the questions to submit the quiz.</span>
        </div>
    </div>
</div>