<div class="video-quiz-container flex">
    <div class="video flex-2">
        {{> atoms-video }}
    </div>
    <div class="questions alt-color-bg padding">
        {{> molecules-begin-quiz }}
    </div>
</div>