<div class="video-question">
    <div class="disabled-bg padding">
        <span>What is the best way to feel more physically comfortable when delivering a speech?</span>
    </div>
    <div class="padding">
        <span class="flex padding-bottom gray">Question 1 [0:12]</span>
        {{> molecules-questions-radio }}
    </div>
    <div class="btn-container text-align-right">
        <button class="pe-btn pe-btn--primary pe-btn--medium ">Resume</button>
    </div>
</div>