<div class="alert-box pos-relative full-width">
    <div class="alert full-width ">
        <div class="flex justify-between align-center">
            <label>Error</label>
            <button class="pe-btn">
                <span class="pe-icon--times" aria-hidden="true"></span>
                <span class="pe-sr-only">close</span>
            </button>
        </div>
        <p>Please answer all the questions before submitting your quiz</p>
    </div>
</div>