<div class="alert-box pos-relative full-width">
    <div class="alert full-width success">
        <div class="flex justify-between align-center">
            <label>Success</label>
            <button class="pe-btn">
                <span class="pe-icon--times" aria-hidden="true"></span>
                <span class="pe-sr-only">close</span>
            </button>
        </div>
        <p>Success!  You've submitted your quiz.</p>
    </div>
</div>