<div class="answer-list padding">
    <div class="border-top border-left border-right">
        {{> molecules-question-list-item(question: "Question 1", time: "[0:12]") }}
        {{> molecules-question-list-item(question: "Question 2", time: "[1:12]") }}
        {{> organisms-question-list-answer }}
        {{> molecules-question-list-item(question: "Question 4", time: "[3:42]") }}
        {{> molecules-question-list-item(question: "Question 5", time: "[3:40]") }}
    </div>
    <div class="padding text-align-right">
        <button class="pe-btn pe-btn--primary pe-btn--medium">Back to Assignments</button>
    </div>
</div>