.overlay {
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:$black;
  opacity:.4;
  z-index: -1;
}

.modal-content {
  margin-top:15%;
  width:50%;
  box-shadow: -1px 2px 15px -4px rgba(0,0,0,0.42);
}

.modal-title {
  button {
    background:none;
    border:none;
    font-size: 1.5em;
  }
  
}