.video-quiz-container {
  @media(max-width:640px) {
    flex-direction: column;
  }
}
.questions {
  padding:4em;
  flex-wrap: wrap;
  text-align: center;
  
  @media (min-width:640px) {
    max-width:50%;
  }
}