
<h2>Pearson Patternlab Boilerplate</h2>
<ul>
    <li class="bold">Includes the following:</li>
    <li><a href="https://pearson-elements-v0.surge.sh/elements/"> Elements v0.15.0 </a></li>
    <li><a href="http://patternlab.io/">Patternlab v1.3.4</a></li>
    <li><a href="http://fontawesome.io/">Font Awesome v4.6.3</a></li>
</ul>
