<p>The colored dots seen next to the patterns in the top navigation, indicate the source or state of the pattern.</p>
<ul class="pe-list pe-list--unstyled black-bg white">
    <li class="elements padding">elements</span></li>
    <li class="ux-boilerplate padding">ux-boilerplate</li>
    <li class="inprogress padding">in progress / experimental</li>
    <li class="custom padding">custom</li>
</ul>