<div class="custom-select">
    <div class="icon">
        <span class="font-sz-17 pe-icon--chevron-down blue" aria-hidden="true"></span>
    </div>
    <div class="select-container">
        <select>
            <option>Option One</option>
        </select>
    </div>
</div>


