<div class="pe-input-group">
    <div class="pe-input  {{styleModifier}}">
        <label for="{{id}}">{{labelValue}}</label>
        <input type="text" id="{{id}}" value="{{inputValue}}" placeholder="{{placeholder}}" {{readonly}}
            {{disabled}}>
        <button class="pe-btn pe-btn--medium">{{buttonText}}</button>
    </div>
</div>