<div class="pe-input-group">
    <div class="pe-input  {{styleModifier}}">
        <label for="{{id}}">{{labelValue}}</label>
        <input type="text" id="{{id}}" value="{{inputValue}}" placeholder="{{placeholder}}" {{readonly}}
            {{disabled}}>
        <button class="pe-btn pe-btn--medium">
            <i class="pe-icon--{{iconName}}" aria-hidden="true"></i>
            <span class="pe-sr-only">{{iconName}}</span>
        </button>
    </div>
</div>