<div class="pe-inlineblock">
    {{> elements-input:pe-input--small(id: '4', inputValue: 'Small text input field')}}
    {{> elements-input:pe-input--small(id: '5', inputValue: 'Small text input field')}}
</div>