<div class="pe-input">
    <label for="i3">Your name</label>
    <input type="text" id="i3" placeholder="First and last name" value="">
</div>

<div class="pe-input pe-input--small">
    <label for="i4">Your name</label>
    <input type="text" id="i4" placeholder="First and last name" value="">
</div>