<div class="pe-input pe-input--disabled">
    <label for="7">Default label value <span class="pe-error-text"></span></label>
    <input type="text" id="7" value="Disabled" placeholder=""  disabled>
    <p id="i9-error" class="pe-error-text"></p>
</div>
<div class="pe-input pe-input--disabled">
    <label for="8">Default label value <span class="pe-error-text"></span></label>
    <input type="text" id="8" value="" placeholder="Placeholder Disabled"  disabled>
    <p id="i9-error" class="pe-error-text"></p>
</div>