{{> elements-input:pe-input--small|pe-input--error(id: '9', labelError: 'error', inputValue: 'Error in small input') }}
{{> elements-input:pe-input--error(id: '10', inputError: 'Something Went Wrong', inputValue: 'Error') }}
