<div class="pe-input pe-input--small pe-input--error">
    <label for="9">Default label value <span class="pe-error-text">error</span></label>
    <input type="text" id="9" value="Error in small input" placeholder=""  >
    <p id="i9-error" class="pe-error-text"></p>
</div>
<div class="pe-input pe-input--error">
    <label for="10">Default label value <span class="pe-error-text"></span></label>
    <input type="text" id="10" value="Error" placeholder=""  >
    <p id="i9-error" class="pe-error-text">Something Went Wrong</p>
</div>