{{> elements-checkbox(id: 'c1', checkLabel: 'checked', checked: 'checked')}}
{{> elements-checkbox(id: 'c2', checkLabel: 'unchecked')}}
{{> elements-checkbox(id: 'c3', checkLabel: 'Read only/Disabled', disabled: 'disabled')}}
{{> elements-checkbox(id: 'c4', checkLabel: 'Read only/Disabled -checked',  checked: 'checked', disabled: 'disabled')}}

