{{> elements-radio(id: 'r1', radioGroup: 'group1', radioLabel: 'radio checked', checked: 'checked')}}
{{> elements-radio(id: 'r2', radioGroup: 'group1', radioLabel: 'radio unchecked')}}
{{> elements-radio(id: 'r3', radioGroup: 'group1', radioLabel: 'radio readonly / disabled', disabled: 'disabled')}}
{{> elements-radio(id: 'r4', radioGroup: 'group2', radioLabel: 'radio readonly / disabled / checked', disabled:
'disabled', checked:
'checked')}}
