<div class="pe-textarea {{styleModifier}}">
    <label for="{{id}}">{{textareaLabel}}</label>
    <textarea name="{{textareaName}}" rows="{{textareaRows}}" cols="{{textareaCols}}" placeholder="{{placeholder}}" id="{{id}}" aria-describedby="{{errorId}}" {{disabled}} {{readonly}}>{{textareaValue}}</textarea>
    <p id="{{errorId}}" class="pe-error-text">{{inputError}}</p>
</div>