<div class="pe-inlineblock">
    {{> elements-textarea:pe-textarea--small(id: 'ta1', textareaName: 'smalltext', textareaValue: 'Text area')}}
    {{> elements-textarea:pe-textarea--small(id: 'ta1', textareaName: 'smalltext', placeholder: 'Text area placeholder')}}
</div>