<div class="pe-select {{styleModifier}}">
    <label for="{{id}}">{{labelValue}}</label>
    <select id="{{id}}" {{disabled}}>
        <option value="{{optionOneValue}}" {{optionOneDisabled}} {{optionOneSelected}}>{{optionOneValue}}</option>
        <option value="{{optionTwoValue}}" {{optionTwoDisabled}} {{optionTwoSelected}}>{{optionTwoValue}}</option>
        <option value="{{optionThreeValue}}" {{optionThreeDisabled}} {{optionThreeSelected}}>{{optionThreeValue}}</option>
    </select>
</div>


