// backgrounds
.gray-bg {
  background-color:$gray;
}

.light-gray-bg {
  background-color:$light-gray;
}

.dark-gray-bg {
  background-color:$dark-gray;
}

.blue-bg {
  background-color:$blue;
}

.light-blue-bg {
  background-color:$light-blue;
}

.red-bg {
  background: $red;
}

.green-bg {
  background: $green;
}

.dark-green-bg {
  background:$dark-green;
}

.light-green-bg {
  background:$light-green;
}

.disabled-bg {
  background:$disabled;
}


// font colors
.gray {
  color:$gray;
}

.light-gray {
  color:$light-gray;
}

.dark-gray {
  color:$dark-gray;
}

.blue {
  color:$blue;
}

.light-blue {
  color:$light-blue;
}

.red {
  color:$red;
}

.green {
  color:$green;
}

.dark-green {
  color:$dark-green;
}

.light-green {
  color:$light-green;
}

.disabled {
  color:$disabled;
}